.chatsThumbnail__container {
	margin-top: 15px;
	width: 100%;
	overflow-y: scroll;
	max-height: 65vh;
}

.chatsThumbnail__container::-webkit-scrollbar {
	display: none;
}

.chatsThumbnail__chat {
	width: 100%;
	height: 70px;
	padding: 0 20px;
	display: grid;
	grid-template-columns: 40px 1fr 50px;
	place-items: center;
	gap: 10px;
	text-decoration: none;
}
.chatsThumbnail__profile {
	position: relative;
}

.chatsThumbnail__profile img {
	border-radius: 50%;
}

.chatsThumbnail--status {
	position: absolute;
	bottom: 0;
	right: 0px;
}

.chatsThumbnail__chat--info {
	justify-self: start;
}

.chatsThumbnail__chat--info h2 {
	color: $dark-text;
	font-size: 18px;
}

.chatsThumbnail__chat--info p {
	color: $soft-text;
	font-size: 15px;
}
.chatsThumbnail__chat--date {
	color: $soft-text;
	text-align: end;
	font-size: 15px;
}

.not-seen {
	border-top: 2px $white solid;
	border-bottom: 2px $white solid;
	background-color: get-opacity($white, 0.5);
}

.chat--notification {
	display: inline-block;
	margin-left: 5px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	border-radius: 50%;
	font-size: 0.9rem;
	font-weight: bold;
	color: $white;
	background-color: $main-magenta;
}

@media screen and (min-height: 700px) {
	.chatsThumbnail__container {
		max-height: 75vh;
	}
}
