.chat__input {
	position: relative;
	align-self: end;
	width: 100%;
	height: fit-content;
	padding: 5px 10px;
	display: flex;
	align-items: center;
	background-color: $soft-bg;
}

.chat--emojis {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	height: 250px;
	transform: translateY(-100%);
	overflow: hidden;
}

.chat__input img {
	width: 25px;
	margin: 0 7px;
}

.chat__input textarea {
	width: 100%;
	height: 40px;
	max-height: 100px;
	padding: 10px;
	font-size: 1.1rem;
	font-family: $main-font;
	color: $soft-bg;
	background-color: $soft-text;
	border-radius: 20px;
	border: none;
	outline: none;
	overflow-x: unset;
}

.chat__input textarea::placeholder {
	color: $soft-bg;
	font-family: $main-font;
}
