.find__header {
	padding: 15px 20px 0 20px;
}

.find--title {
	font-size: 1.4rem;
	color: $dark-text;
	margin: 40px 0 10px 0;
}

.find__header a {
	@extend %back;
	width: 35px;
	height: 35px;
	margin-bottom: 15px;
}
