.home {
	padding: 25px 0 5px;
}

.home--head {
	padding: 0 20px;
}

.messages-head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
}

.messages-head h2 {
	color: $dark-text;
}

.messages-head img {
	width: 20px;
	fill: $main-violet;
}

.Home__footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 65px;
	padding: 5px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: get-opacity($white, 0.7);
}

.Home__footer img {
	width: 40px;
}
