.landing__container {
	position: relative;
	width: 100%;
	min-height: 100vh;
	padding: 20px;
	display: grid;
	place-items: center;
	gap: 20px;
	overflow: hidden;
}

.bg__el {
	position: absolute;
	width: 100%;
	height: 40vh;
	z-index: -1;
}

.bg--left {
	left: -30%;
	top: 0;
	background: linear-gradient(
		240deg,
		rgba(136, 56, 255, 1) 0%,
		rgba(149, 57, 255, 1) 48%,
		rgba(233, 66, 255, 1) 100%
	);
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
}

.bg--right {
	right: -30%;
	bottom: 0;
	background: get-opacity($main-magenta, 0.05);
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
}

.landing__content {
	width: clamp(320px, 100%, 600px);
	display: grid;
	justify-items: center;
	row-gap: 30px;
}

.chat__view {
	padding: 13px;
	width: 95%;
	max-width: 380px;
	height: 480px;
	background-color: $white;
	border-radius: 15px;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.chat__view img {
	width: 100%;
	height: 100%;
	border-radius: 15px;
}
.landing__info {
	text-align: center;
}

.landing--tittle {
	font-size: 2.2rem;
	font-weight: bold;
	color: $dark-text;
	margin-bottom: 5px;
}

.landing--text {
	font-size: 1.1rem;
	line-height: 1.6rem;
	color: $soft-text;
}

.landing--singup {
	@include mainBtn;
	padding: 10px 0;
	width: 60%;
	text-decoration: none;
	font-size: 1.6rem;
	border-radius: 5px;
	background-color: $main-magenta;
	color: $white;
}
.landing--login {
	font-weight: bold;
	text-decoration: none;
	font-size: 1rem;
	color: $main-magenta;
}

@media screen and (min-width: 1024px) {
	.bg__el {
		width: 600px;
		height: 600px;
	}

	.bg--left {
		left: 0;
		top: -10%;
		transform: rotate(-90deg);
	}
	.bg--right {
		right: 0;
		bottom: -10%;
		transform: rotate(-90deg);
	}
}
