$main-violet: #8838ff;
$main-magenta: #e942ff;
$soft-violet: #e7d9ff;
$soft-bg: #e5e5e5;
$dark-white: rgb(246, 246, 246);
$white: #ffffff;

$main-font: 'Source Sans Pro', sans-serif;
$soft-text: #a4a4b2;
$dark-text: #484860;

%back {
	display: block;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: $main-magenta;
}

@mixin mainBtn {
	display: block;
	text-align: center;
	font-family: $main-font;
	font-weight: bold;
	font-size: 1.3rem;
	border: none;
}

@function get-opacity($color, $opacity) {
	@return rgba($color, $opacity);
}
