@import './_variables';
@import './components/_Home';
@import './components/_FilterChats';
@import './components/_ChatThumbnail';
@import './components/_Profile';
@import './components/_Chat';
@import './components/_ChatInput';
@import './components/_FindPage';
@import './components/_AuthView';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: $soft-bg;
	font-family: $main-font;
}

.goBack {
	width: 14px;
	height: 14px;
	border-left: 4px solid $white;
	border-top: 4px solid $white;
	transform: rotate(-45deg);
}
