@import './_variables';
@import './components/_Home';
@import './components/_FilterChats';
@import './components/Messages';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: $soft-bg;
	font-family: $main-font;
}
